
.titre-vue {
    -fx-font-size: 20;
    -fx-font-family: Arial;
    -fx-font-weight: bold;
    -fx-text-fill: #1e46e8;
}


.message-accueil {
    -fx-background-color: cornsilk;
    -fx-padding: 10;
    -fx-border-color: gray; 
    -fx-border-width: 1;
    -fx-font-size: 16;
}

